@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@900&display=swap');

h1, h2, h3, h4, h5, h6 {
  background-color: #904C77;
  font-family: "crimson pro", "helvetica";
  font-size: 24px;
  padding: 1.2em;
}

body {
  background-color: #717568;
}

nav a {
  color: white;
  font-size: 1.1em;
}
#content {
  max-width: 960px;
  margin: 0 auto;
  font-family: "helvetica";
  padding: 1.1em;
}
.home-headline-1, .home-headline-2, .home-headline-3 {
  margin-bottom: -10px;
}
.banner-box, .home-left-img, .home-right-img {
  margin-bottom: 20px;
}
.home-paragraph-3 {
  text-align: center;
  }
.social {
  text-align: center;
}
